{% extends getMasterTwig() %}

{% set title = 'Categories' %}

{% block base %}{{ generateUrl(['categories'], false, true, false) }}/{% endblock %}

{% block content %}
    <div id="main">
        <div>
            {{ table|raw }}
        </div>
    </div>
{% endblock %}
